<p>Hi Dear,</p>

<h4><b>Name:</b> {{fullname}}</h4>
<h4><b>Email:</b> {{email}}</h4>
<h4><b>Temporary Password:</b>  <b>{{key}}</b></h4>

<p>To reset your password, please login with your registered email address and provide given <strong>Temporarily Password</strong>.</p>
<p>Please make sure after login do not forget to change you password.</p>

<p style="color:#ff2100"><strong>* Temporary password only valid for 1 Hours.</strong></p>

<br><br><br>
<h3>Cook-A-Meal</h3>
<h3>Thank you</h3>